<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta property="og:title" content="JS13K Starter" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <title>Back online! - 13KB JS Game</title>
    <link rel="stylesheet" type="text/css" href="./style.css" />
</head>
<body>
    <img src="./sprites/trex.png" id="trex" style="display:none;"/>
    <img src="./sprites/offline-sprite.png" id="offline-sprite" style="display:none;"/>
    <canvas id="game" width="400" height="600"></canvas>
</body>
</html>