<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta property="og:title" content="JS13K Starter" />
    <title>Back online! - 13KB JS Game</title>
    <style>body{margin:0;padding:0;background:#fff;-webkit-user-select:none;-moz-user-select:none;-khtml-user-select:none;-ms-user-select:none;text-align:center}canvas{display:block;margin:0 auto;background:#e0f1fc}</style>
</head>
<body>
    <img src="./sprites/trex.png" id="trex" style="display:none;"/>
    <img src="./sprites/bg.png" id="bg" style="display:none;"/>
    <canvas id="game" width="400" height="600"></canvas>
</body>
</html>